
<h2>Glass Courses</h2>
<% @courses.glass.each do |glass| %> 
    <li><%= glass.category %>
        <%= link_to glass.title, course_path(glass) %>
    </li>
  <% end  %>
</br>
</br>


<h2>Jewelry Courses</h2>
<% @courses.jewelry.each do |jewelry| %> 
    <li><%= jewelry.category %>
        <%= link_to jewelry.title, course_path(jewelry) %>
    </li>
  <% end  %>


  