<h1><%= @course.title %></h1>

<%# render partial: 'form', locals: {course: @course} %>

title: <%= @course.title %>
Description: 
Category:

<%= link_to "Add Rating", new_course_enrollment_path(course_id: @course.id) %>