<h1><%= @course.title %></h1>


<p> 
  Description:   <%= @course.description %></br>
  Category:      <%= @course.category %></br>
</p>

<%= link_to "Add Rating", new_course_enrollment_path(course_id: @course.id) %>